<main class="main content" id="ff-content-p">
  <div class="op-content">
    <div class="pnf-box">
      <div class="c-pnf-box">
        <div class="c-pnf-text-block">
          <div class="s-title-gc-box ff-ers">
            <div class="item-s-title">
              <span>404 error</span>
            </div>
            <div class="line-s-t"></div>
          </div>
          <h1 class="pnf-g-title">
            <span>{{ T "404_page_not_found" | safeHTML }}</span>
          </h1>
          <div class="title-arr-pnf">
            <a class="title-arr-link" href="{{ "/" | relLangURL }}"><span>{{ T "menu_back_to_docs" | safeHTML }}</span>&nbsp;→</a>
          </div>
        </div>
        <div class="c-pnf-img-block">
            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI2IiBoZWlnaHQ9IjIzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjEyLjMwMyA1M1YxMy41SDEzLjVWNTNoMTk4LjgwM3ptMCAxM0gxMy41djgzLjQ1MWMwIDQuMDQyIDEuNzA4IDEwLjI1IDQuODEyIDE2LjI2NyAzLjc2OCA3LjMwNCA5LjE4IDEzLjcwNiAxNS45MzIgMTguMzA2IDE3LjU1IDExLjk1NiA0Mi41MDUgMTEuMjM3IDc1LjUxLTcuMDM4IDQ1LjcwNC0yNS4zMDcgODAuNjI5LTE4LjE4NiAxMDIuNTUgMjAuMTlWNjZ6TS41IDdBNi41IDYuNSAwIDAgMSA3IC41aDIxMS44MDNhNi41IDYuNSAwIDAgMSA2LjUgNi41djIyMi40NTFjMCA3LjQ2Ny0xMC41MyA5LjA0Mi0xMi43MTUgMS45MDMtMTcuMjE0LTU2LjIzNi00OC4wMzctNjkuODUtOTYuNTM4LTQyLjk5NS0zNy4wMTQgMjAuNDk1LTY3LjE3MiAyMS4zNjQtODkuMTI1IDYuNDFDMTAuNzM3IDE4My43NC41IDE2My44OTUuNSAxNDkuNDVWN3ptMzUgMzNhNy41IDcuNSAwIDEgMSAwLTE1IDcuNSA3LjUgMCAwIDEgMCAxNXptMjIgMGE3LjUgNy41IDAgMSAxIDAtMTUgNy41IDcuNSAwIDAgMSAwIDE1em0yMiAwYTcuNSA3LjUgMCAxIDEgMC0xNSA3LjUgNy41IDAgMCAxIDAgMTV6bTI1LjUtLjV2LTEzaDg5LjUyNHYxM0gxMDV6IiBmaWxsPSIjRkZGIi8+PC9zdmc+" alt="Error 404 image">
        </div>
      </div>
    </div>
  </div>
</main>
